        /* seletor universal */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* base do index, aulas, planos, treinos, unidades */

        /* CABEÇALHO */
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #00295C;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        header {
            background-color: #00295C;
            color: white;
            padding: 20px;
        }

        .navbar {
            background-color: #00295C;
            height: 30px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 10px;
            text-align: center;
        }

        .logo {
            font-weight: bold;
            display: flex;
            width: 200px;
            height: 38px;
            border: black;
            text-align: left;
            align-items: center;
        }

        img {
            width: 100%;
        }

        .cabeçalho {
            text-decoration: none;
        }

        /* linha em baixo de algo que ao passar o mouse em cima */
        .cabeçalho:hover {
            border-bottom: 2px solid rgb(26, 125, 255);
        }

        a {
            color: #ffffff;
            font-size: 15px;
        }

        .Entrar {
            /* botão de entrar -> página de login */
            text-align: center;
            font-family: sans-serif;
            border-radius: 6px;
            background-color: #2a4591;
            width: 80px;
            padding: 4px;
            color: white;
            border: none;
            font-size: 18px;
            cursor: pointer;
        }

        /* RODAPÉ */

        .rodape {
            background-color: #2a4591;
            width: 100%;
            min-height: 150px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            color: white;
            padding: 20px;
            margin-top: auto;
        }

        .rodapeImagem {
            width: 350px;
            height: 20px;
        }

        .coluna {
            display: inline-block;
            flex-direction: column;
            gap: 5px;
            width: 200px;
            height: 185px;
            vertical-align: top;
        }

        .coluna h4 {
            margin-bottom: 10px;
            font-size: 14px;
        }

        .coluna p {
            font-size: 12px;
            margin: 0;
        }

        .coluna input {
            margin-top: 10px;
            padding: 5px;
            width: 180px;
        }

        .icone {
            display: flex;
        }

        .icone img {
            width: 20px;
            height: 20px;
        }

        /* INDEX */

        .painelPrincipal {
            color: white;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            background-image: url(../img/fundo.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 380px;
        }

        h1 {
            color: #ffffff;
            text-align: left;
        }

        h4 {
            color: #ffffff;
            text-align: left;
        }

        .cards {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
            padding: 50px;
        }

        .recursos {
            width: 250px;
            height: 170px;
            background-color: rgba(255, 255, 255, 0.432);
            padding: 20px;
            text-align: center;
            box-sizing: border-box;
            border-radius: 15px;
        }

        .recursos:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
        }

        .recursos img {
            width: 30px;
            height: 30px;
            margin-bottom: 10px;
        }

        .recursos h2 {
            margin-bottom: 15px;
            font-size: 20px;
        }

        .recursos p {
            font-size: 15px;
        }

        /* PLANOS */
        .painelPlanos {
            background-image: url("../img/fundo_planos2.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 380px;
            color: white;
            padding: 50px;
        }

        /* CONTAINER DOS CARDS */
        .cards_planos {
            display: flex;
            justify-content: center;
            gap: 25px;
            /* mais espaço entre eles */
            flex-wrap: wrap;
            padding: 30px;
            align-items: stretch;
            /* ESSA LINHA AQUI É O OURO */
        }

        .recursos_planos {
            width: 260px;
            min-height: 300px;
            background: rgba(255, 255, 255, 0.15);
            /* mais clean */
            backdrop-filter: blur(10px);
            /* efeito vidro (chique) */
            padding: 25px;
            text-align: center;
            border-radius: 15px;
            box-sizing: border-box;
            transition: 0.3s;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .recursos_planos img {
            width: 30px;
            height: 30px;
            margin-bottom: 10px;
            margin-left: 90px;
            display: block;
            margin: 0 auto 10px auto;
        }

        /* HOVER BONITÃO */
        .recursos_planos:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
        }

        /* CARD DO MEIO DESTACADO */
        .recursos_planos-destaque {
            width: 260px;
            min-height: 300px;
            background: rgba(255, 255, 255, 0.15);
            /* mais clean */
            backdrop-filter: blur(10px);
            /* efeito vidro (chique) */
            padding: 25px;
            text-align: center;
            border-radius: 15px;
            box-sizing: border-box;
            transition: 0.3s;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .recursos_planos-destaque img {
            width: 35px;
            height: 35px;
            margin-bottom: 10px;
            display: block;
            margin: 0 auto 10px auto;
        }

        .recursos_planos-destaque:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
        }

        /* FAIXA "MAIS ESCOLHIDO" */
        .recursos_planos-destaque::before {
            content: "Mais escolhido!";
            position: absolute;
            top: -12px;
            left: 50%;
            transform: translateX(-50%);
            background: #2f6fd6;
            color: white;
            padding: 6px 14px;
            border-radius: 12px;
            font-size: 12px;
            font-weight: bold;
        }

        /* ÍCONES */
        .recursos_planos img {
            width: 35px;
            height: 35px;
            margin-bottom: 10px;
        }

        .recursos_planos-destaque h2 {
            margin-bottom: 15px;
            font-size: 20px;
            color: #fff;
        }

        .recursos_planos-destaque p {
            font-size: 14px;
            margin: 5px 0;
            color: #fff;
        }

        /* TÍTULO */
        .recursos_planos h2 {
            margin-bottom: 15px;
            font-size: 20px;
            color: #fff;
        }

        /* TEXTO */
        .recursos_planos p {
            font-size: 14px;
            margin: 5px 0;
            color: #fff;
        }

        /* TABELA */
        .tabela-planos {
            margin: 20px auto;
            width: 80%;
            background: #d9d9d9;
            border-radius: 12px;
            overflow: hidden;
            font-family: Arial, sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }

        thead {
            background: #cfcfcf;
            font-weight: bold;
        }

        th,
        td {
            padding: 12px;
        }

        /* LISTRAS */
        tbody tr:nth-child(even) {
            background: #e6e6e6;
        }

        /* PRIMEIRA COLUNA */
        td:first-child {
            text-align: left;
            padding-left: 20px;
            font-weight: 500;
        }

        .botao_recursos {
            display: flex;
            justify-content: center;
            margin-top: auto;
            width: 100%;
            text-align: center;
            font-family: sans-serif;
            border-radius: 6px;
            background-color: #2a4591;
            padding: 4px;
            color: white;
            border: none;
            font-size: 18px;
            cursor: pointer;
        }

        /* AULAS */

        .painelAulas {
            background: linear-gradient(90deg, #000 40%, #023e8a 76%);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 650px;
            color: white;
            padding: 50px;

        }

        .topo-aulas {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 60px;
            width: 90%;
            margin: 0 auto 40px;
        }

        .texto-aulas {
            flex: 1;
        }

        .texto-aulas h1 {
            margin: 0;
            color: white;
            font-size: 50px;
        }

        .texto-aulas h1 strong {
            color: #2450fd;
        }

        .texto-aulas h4 {
            margin-top: 20px;
            color: white;
            font-weight: normal;
        }

        .cardAula-carrossel-container {
            position: relative;
            flex: 1;
            max-width: 700px;
            height: 320px;
            overflow: hidden;
            border-radius: 15px;
        }

        .imagens-slide {
            width: 850px;
            height: 250px;
            position: relative;
        }

        .imagens-slide img {
            width: 850px;
            height: 300px;
            object-fit: cover;
            display: none;
        }

        .imagens-slide img.ativa {
            display: block;
        }

        /* botões */
        .botao-nav {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 50%;
            background: rgba(0, 0, 0, .45);
            color: white;
            font-size: 22px;
            cursor: pointer;
            z-index: 100;
        }

        #prev {
            left: 15px;
        }

        #next {
            right: 15px;
        }

        /* bolinhas */
        .indicadores {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            gap: 8px;
        }

        .bolinha {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.5);
            cursor: pointer;
        }

        .bolinha.ativa {
            background: white;
        }

        /* animação */
        @keyframes fade {
            from {
                opacity: 0.5;
            }

            to {
                opacity: 1;
            }
        }

        .painelOpcoes {
            color: rgb(0, 0, 0);
            width: 70%;
            border-radius: 15px;
            margin: 0px auto;
            /* centraliza horizontalmente */
            margin-top: 20px;
            display: flex;
            justify-content: space-evenly;
        }

        .opcoes_painel {
            width: 200px;
            height: 30px;
            border-radius: 6px;
            background-color: #2a4591;
            color: white;
        }

        .painelHorarios {
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            display: grid;
            grid-template-columns: repeat(1fr);
            width: 70%;
            border-radius: 15px;
            margin: 0px auto;
            /* centraliza horizontalmente */
            margin-top: 20px;
        }

        table {
            width: 97%;
            text-align: center;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 10px;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
            border-radius: 12px;
            height: 15px;
            margin-left: 20px;
            border-collapse: separate;
            border-spacing: 0 20px;
        }

        td {
            background: white;
            padding: 0px 20px;
            vertical-align: middle;
            /* centraliza na vertical */
        }

        td:nth-child(1) {
            /* Hora */
            width: 120px;
            text-align: center;
        }

        td:nth-child(2) {
            /* Modalidade */
            width: 220px;
            text-align: left;
        }

        td:nth-child(3) {
            /* Professor */
            width: 220px;
            text-align: left;
        }

        td:nth-child(4) {
            /* Sala */
            width: 150px;
            text-align: center;
        }

        td:nth-child(5) {
            /* Botão */
            width: 200px;
            text-align: center;
        }

        /* UNIDADES */

        .UniFundo {
            background: linear-gradient(90deg, #000 40%, #023e8a 76%);
        }

        .painelUnidades {
            display: flex;
            color: #ffffff;
            text-align: left;
            flex-direction: column;
            justify-content: center;
            /* centraliza na vertical */
            min-height: 60vh;
            /* altura da seção */
            text-align: center;
            margin-left: 300px;
        }

        .mapa img {
            width: 450px;
            height: 450px;
            margin-left: 400px;
            margin-top: -200px;
        }

        .cards_unidades {
            display: grid;
            gap: 20px;
            flex-wrap: wrap;
            grid-template-columns: repeat(3, 1fr);
        }

        .cards_localizacao {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 5px;
            background-color: white;
            border-radius: 15px;
            margin: 20px;
        }

        .cards_localizacao img {
            width: 170px;
            height: 150px;
            border-radius: 14px;
        }

        .info-unidade {
            padding: 12px;
            font-size: 14px;
        }

        .info-unidade h3 {
            margin-bottom: 8px;
        }

        .cards_localizacao:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 25px rgb(26, 49, 255);
        }

        /* LOGIN */

        .container {
            display: flex;
            width: 100%;
            height: 100vh;
        }

        /* LADO ESQUERDO */

        .left_login {
            width: 40%;
            background-size: cover;
            background-position: center;
            position: relative;
            background-image: url("../img/login.png");
        }

        .left_login img {
            width: 100%;
            height: 100%;
        }

        .voltar {
            position: absolute;
            top: 20px;
            left: 20px;
            color: white;
            text-decoration: none;
            font-size: 14px;
        }

        /* LADO DIREITO  */
        .right {
            width: 60%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 730px;
        }

        .formulario {
            width: 400px;
        }

        .logo_login {
            width: 250px;
            display: flex;
            margin-bottom: 30px;
        }

        .formulario h2 {
            margin-bottom: 10px;
            color: #222;
        }

        .formulario p {
            color: #666;
            margin-bottom: 25px;
        }

        .formulario label {
            display: block;
            margin-bottom: 5px;
            margin-top: 15px;
        }

        .formulario input[type="email"],
        .formulario input[type="password"] {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 6px;
        }

        .opcoes {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
            margin-bottom: 25px;
            font-size: 14px;
        }

        .opcoes a {
            text-decoration: none;
            color: #2a4591;
        }

        button {
            width: 80%;
            padding: 10px;
            border: none;
            border-radius: 6px;
            background-color: #2a4591;
            color: white;
            font-size: 18px;
            cursor: pointer;
        }

        button:hover {
            background-color: #1d3476;
        }

        /* CADASTRO */

        .container {
            display: flex;
            width: 100%;
            height: 100%;
        }

        .left_cadastro {
            width: 45%;
            background-size: cover;
            background-position: center;
            position: relative;
            background-image: url("../img/cadastro.png.png");
            height: 729px;
        }

        .left_cadastro img {
            width: 100%;
            background-size: cover;
            background-position: center;
            position: relative;
            background-image: url("../img/cadastro.png");
            height: 728px;
        }

        .right_cadastro {
            width: 55%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .formulario_cadastro {
            width: 400px;
            display: flex;
            flex-direction: column;
        }

        .logo_login_cadastro {
            width: 250px;
            height: 100%;
            display: flex;
            margin-bottom: 30px;
        }

        .formulario_cadastro h2 {
            margin-bottom: 10px;
            color: #222;
        }

        .formulario_cadastro p {
            color: #666;
            margin-bottom: 25px;
        }

        .formulario_cadastro label {
            display: block;
            margin-bottom: 5px;
            margin-top: 15px;
        }

        .formulario_cadastro input[type="email"],
        .formulario_cadastro input[type="password"],
        .formulario_cadastro input[type="text"],
        .formulario_cadastro input[type="date"],
        .formulario_cadastro input[type="tel"] {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 6px;
        }

        .botao_cadastro {
            width: 300px;
            padding: 10px;
            border: none;
            border-radius: 6px;
            background-color: #2a4591;
            color: white;
            font-size: 18px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            margin-left: 50px;
        }

        .botao_cadastro:hover {
            background-color: #1d3476;
        }

        /* PAGAMENTO */

        .pagamento {
            background: #1f2f78;
            background-image: url("../img/fundo_pagamentos.png");
            background-size: cover;
            background-position: center;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .pagamento_topo {
            color: white;
            margin: 20px 0;
            padding: 15px;

        }

        .pagamento_topo h1 {
            margin-left: -360px;
        }

        .p_topo {
            margin-left: -360px;
            color: white;
        }

        .left_pagamento {
            display: flex;
            gap: 20px;
            align-items: flex-start;
        }

        .pagamento_opcoes {
            flex: 2;
            background: #2f4797;
            padding: 25px;
            border-radius: 20px;
            margin: 10px;
        }

        .pagamento_opcoes h2 {
            color: white;
            text-align: left;
        }

        .pagamento_opcoes label {
            color: white;
            display: block;
            margin-top: 15px;
            margin-bottom: 5px;
        }

        .pagamento_opcoes input,
        .pagamento_opcoes select {
            width: 100%;
            padding: 12px;
            background: #233a85;
            border: 1px solid #6b7fc7;
            color: white;
            box-sizing: border-box;
        }

        .metodos_pagamento {
            display: flex;
            gap: 15px;
            margin-bottom: 25px;
        }

        .metodo_ativo {
            border: 1px solid #9cb4ff;
            border-radius: 10px;
            padding: 5px;
            display: flex;
            align-items: center;
            gap: 12px;
            color: white;
            cursor: pointer;
            transition: .3s;
        }

        .metodo_ativo:hover {
            background: #3d5cb8;
        }

        .metodo_ativo img {
            width: 40px;
            height: 40px;
            object-fit: contain;
            flex-shrink: 0;
        }

        .metodo_informacoes {
            display: flex;
            flex-direction: column;
        }

        .metodo_informacoes span {
            color: white;
            font-size: 16px;
            font-weight: bold;
        }

        .metodo_informacoes p {
            margin: 3px 0 0;
            color: #d6d6d6;
            font-size: 12px;
        }

        .ativo {
            background: #4671b6;
        }

        .input_linhas {
            display: flex;
            gap: 15px;
        }

        .input_linhas div {
            flex: 1;
        }

        .resumo_pedido {
            width: 350px;
            background: #2f4797;
            padding: 20px;
            border-radius: 20px;
            margin: 5px;
            height: 528px;
            margin-right: -220px;
            display: flex;
            flex-direction: column;
            align-items: flex-start
        }

        .resumo_pedido h2 {
            color: white;
            text-align: left;
        }

        .resumo_pedido h3,
        .resumo_pedido p {
            color: black;
        }

        .plano_final {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 20px;
        }

        .plano_final h3 {
            margin: 0;
        }

        .imgPlanoResumo {
            width: 70px;
            height: 70px;
            object-fit: contain;
        }

        .valores {
            display: flex;
            justify-content: space-between;
            margin: 15px 0;
        }

        .taxa {
            border: 1px solid #7f94d6;
            padding: 20px;
            margin: 20px 0;
            color: white;
            text-align: center;
            vertical-align: top;
            width: 200px;
            height: 100px;
            display: flex;
            align-items: center;
            margin-left: 20px;
            border-radius: 15px;
        }

        .taxa img {
            width: 60px;
            height: 60px;
            display: flex;
        }

        .finalizar {
            width: 100%;
            background: #2f2fc5;
            border: none;
            color: white;
            font-size: 20px;
            padding: 15px;
            border-radius: 8px;
            cursor: pointer;
            transition: .3s;
        }

        .finalizar:hover {
            background: #4150ff;
        }

        /* TREINOS */

        .body_treinos {
            background: linear-gradient(90deg, #000 40%, #023e8a 76%);
        }

        .painelTopo {
            color: white;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            background-image: url(../img/fundo_topo_treinos2.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 250px;
        }

        .painelTopo img {
            width: 100%;
            height: 100%;
        }

        .painelTopo h1 {
            color: white;
            text-align: left;
            margin-top: 100px;
            margin-left: 50px;
        }

        .painelTopo p {
            color: white;
            text-align: left;
            margin-left: 50px;
        }

        .opcoes_treinos {
            width: 90%;
            margin: 40px auto;
        }

        .opcoes_treinos h3 {
            color: white;
        }

        .card_treinos {
            display: flex;
            justify-content: center;
            gap: 30px;
            flex-wrap: wrap;
        }

        .treinos {
            width: 320px;
            background: #243f79;
            border: 1px solid #5a82ff;
            border-radius: 10px;
            padding: 30px;
            text-align: center;
            display: flex;
            flex-direction: column;
        }

        .treinos img {
            width: 70px;
            margin-bottom: 5px;
        }

        .informacoes_treino {
            display: flex;
            flex-direction: column;
            flex: 1;
        }

        .treinos h2 {
            color: white;
            font-size: 35px;
            margin-bottom: 15px;
        }

        .informacoes_treino h4 {
            color: #77b4ff;
            font-size: 25px;
            margin-bottom: 15px;
            display: flex;
        }

        .informacoes_treino h6 {
            color: white;
            font-size: 15px;
            font-weight: normal;
            line-height: 1.5;
            margin: 8px 0;
            display: flex;
            flex-direction: column;
        }

        .botao_treinos {
            margin-top: auto;
            background: #4868e6;
            color: white;
            border: none;
            padding: 14px 30px;
            border-radius: 8px;
            font-size: 18px;
            cursor: pointer;
            transition: .3s;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            margin-left: 25px;
        }

        .progresso {
            width: 90%;
            margin: 60px auto;
        }

        .progresso h2 {
            color: white;
            margin-bottom: 25px;
        }

        .cards_progresso {
            display: flex;
            justify-content: center;
            gap: 25px;
            flex-wrap: wrap;
        }

        .card_progresso {
            width: 220px;
            height: 140px;
            background: #243f79;
            border: 1px solid #5a82ff;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .card_progresso h3 {
            color: #6ea8ff;
            font-size: 42px;
            margin-bottom: 10px;
        }

        .card_progresso p {
            color: white;
            font-size: 18px;
        }