/* Index */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00295C;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #00295C;
    color: white;
    padding: 20px;
}

.logo {
    font-weight: bold;
    display: flex;
    width: 200px;
    height: 38px;
    border: black;
    text-align: left;
    align-items: center;
}

img {
    width: 100%;
}

footer {
    background-color: #ffffff;
    color: white;
    padding: 20px;
}

.coluna {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #00295C;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    text-align: center;
}

/* area do fred */
.cabeçalho {
    text-decoration: none;
}

/* isso mostra uma linha em baixo de algo que ao passar o mouse em cima */
.cabeçalho:hover {
    border-bottom: 2px solid rgb(26, 125, 255);
}

a {
    color: #ffffff;
    font-size: 15px;
}

.painelPrincipal {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-image: url(../img/fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 380px;
}

h1 {
    color: #ffffff;
    text-align: left;
}

h4 {
    color: #ffffff;
    text-align: left;
}

.Entrar {
    text-align: center;
    font-family: sans-serif;
    border: 1px solid white;
    background-color: #00295C;
    width: 80px;
    padding: 4px;
    color: white;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 50px;
}

.recursos {
    width: 250px;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.432);
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 15px;
}

.recursos:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.recursos img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.recursos h2 {
    margin-bottom: 15px;
    font-size: 20px;
}

.recursos p {
    font-size: 15px;
}

.rodape {
    background-color: #2a4591;
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    padding: 20px;
    margin-top: auto;
}

.rodapeImagem {
    width: 350px;
    height: 20px;
}

.coluna {
    display: inline-block;
    flex-direction: column;
    gap: 5px;
    width: 200px;
    height: 185px;
}

.coluna h4 {
    margin-bottom: 10px;
    font-size: 14px;
}

.coluna p {
    font-size: 12px;
    margin: 0;
}

.coluna input {
    margin-top: 10px;
    padding: 5px;
    width: 180px;
}

.icone {
    display: flex;
}

.icone img {
    width: 20px;
    height: 20px;
}

/* Página de login */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* LADO ESQUERDO */

.left {
    width: 45%;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: url("../img/login.png");
}

.voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* LADO DIREITO  */
.right {
    width: 55%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    width: 400px;
}

.logo_login {
    width: 250px;
    display: flex;
    margin-bottom: 30px;
}

.formulario h2 {
    margin-bottom: 10px;
    color: #222;
}

.formulario p {
    color: #666;
    margin-bottom: 25px;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
}

.formulario input[type="email"],
.formulario input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.opcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 14px;
}

.opcoes a {
    text-decoration: none;
    color: #2a4591;
}

.botao_aulas,
.botao_recursos,
.formulario button{
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #2a4591;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #1d3476;
}

/* Página de Planos */
.painelPlanos {
    background-image: url("../img/fundo_planos.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 380px;
    color: white;
    padding: 50px;
}

/* CONTAINER DOS CARDS */
.cards_planos {
    display: flex;
    justify-content: center;
    gap: 25px;
    /* mais espaço entre eles */
    flex-wrap: wrap;
    padding: 30px;
    align-items: stretch; /* ESSA LINHA AQUI É O OURO */
}

.recursos_planos img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 90px;
    display: block;
    margin: 0 auto 10px auto;
}

/* CARDS */
.recursos_planos {
    width: 260px;
    min-height: 300px;
    background: rgba(255, 255, 255, 0.15);
    /* mais clean */
    backdrop-filter: blur(10px);
    /* efeito vidro (chique) */
    padding: 25px;
    text-align: center;
    border-radius: 15px;
    box-sizing: border-box;
    transition: 0.3s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* HOVER BONITÃO */
.recursos_planos:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

/* CARD DO MEIO DESTACADO */
.recursos_planos-destaque {
    width: 260px;
    min-height: 300px;
    background: rgba(255, 255, 255, 0.15);
    /* mais clean */
    backdrop-filter: blur(10px);
    /* efeito vidro (chique) */
    padding: 25px;
    text-align: center;
    border-radius: 15px;
    box-sizing: border-box;
    transition: 0.3s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.recursos_planos-destaque:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

/* FAIXA "MAIS ESCOLHIDO" */
.recursos_planos-destaque::before {
    content: "Mais escolhido!";
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    background: #2f6fd6;
    color: white;
    padding: 6px 14px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
}

.recursos_planos-destaque img {
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto 10px auto;
}

/* ÍCONES */
.recursos_planos img {
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
}

.recursos_planos-destaque h2 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #fff;
}

.recursos_planos-destaque p{
    font-size: 14px;
    margin: 5px 0;
    color: #fff;
}

/* TÍTULO */
.recursos_planos h2 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #fff;
}

/* TEXTO */
.recursos_planos p {
    font-size: 14px;
    margin: 5px 0;
    color: #fff;
}

/* TABELA */
.tabela-planos {
    margin: 20px auto;
    width: 80%;
    background: #d9d9d9;
    border-radius: 12px;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

thead {
    background: #cfcfcf;
    font-weight: bold;
}

th,
td {
    padding: 12px;
}

/* LISTRAS */
tbody tr:nth-child(even) {
    background: #e6e6e6;
}

/* PRIMEIRA COLUNA */
td:first-child {
    text-align: left;
    padding-left: 20px;
    font-weight: 500;
}

.botao_recursos {
    display: flex;
    justify-content: center;
    margin-top: auto;
    width: 100%;
}

/* Página de unidades */

.UniFundo {
    background: linear-gradient(90deg, #000 40%, #023e8a 76%);
}

.painelUnidades {
    display: flex;
    color: #ffffff;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    /* centraliza na vertical */
    min-height: 60vh;
    /* altura da seção */
    text-align: center;
    margin-left: 300px;
}

.mapa img {
    width: 450px;
    height: 450px;
    margin-left: 400px;
    margin-top: -200px;
}

.cards_unidades {
    display: grid;
    gap: 20px;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
}

.cards_localizacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
    background-color: white;
    border-radius: 15px;
    margin: 20px;
}

.cards_localizacao img {
    width: 170px;
    height: 150px;
    border-radius: 14px;
}

.info-unidade {
    padding: 12px;
    font-size: 14px;
}

.info-unidade h3 {
    margin-bottom: 8px;
}

.cards_localizacao:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgb(26, 49, 255);
}

/* Página de aulas */

.painelAulas {
    background: linear-gradient(90deg, #000 40%, #023e8a 76%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 650px;
    color: white;
    padding: 50px;

}

.painelHorarios {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(1fr);
    width: 70%;
    border-radius: 15px;
    margin: 0px auto; /* centraliza horizontalmente */
    margin-top: 20px;
}

table {
    width: 97%;
    text-align: center;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    height: 15px;
    margin-left: 20px;
    border-collapse: separate;
    border-spacing: 0 20px;
}

.painelOpcoes {
    color: rgb(0, 0, 0);
    width: 70%;
    border-radius: 15px;
    margin: 0px auto; /* centraliza horizontalmente */
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.opcoes_painel {
    width: 200px;
    height: 30px;
    border-radius: 6px;
    background-color: #2a4591;
    color: white;
}

td {
    background: white;
    padding: 0px 20px;
    vertical-align: middle; /* centraliza na vertical */
}

td:nth-child(1) { /* Hora */
    width: 120px;
    text-align: center;
}

td:nth-child(2) { /* Modalidade */
    width: 220px;
    text-align: left;
}

td:nth-child(3) { /* Professor */
    width: 220px;
    text-align: left;
}

td:nth-child(4) { /* Sala */
    width: 150px;
    text-align: center;
}

td:nth-child(5) { /* Botão */
    width: 200px;
    text-align: center;
}

.cardAula-carrossel-container{
    position: relative;
    flex: 1;
    max-width: 700px;
    height: 320px;
    overflow: hidden;
    border-radius: 15px;
}

.imagens-slide{
    width: 850px;
    height: 250px;
    position: relative;
}

.imagens-slide img{
    width: 850px;
    height: 300px;
    object-fit: cover;
    display: none;
}

.imagens-slide img.ativa{
    display: block;
}

/* botões */
.botao-nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background: rgba(0,0,0,.45);
    color: white;
    font-size: 22px;
    cursor: pointer;
    z-index: 100;
}

#prev{
    left: 15px;
}

#next{
    right: 15px;
}
/* bolinhas */
.indicadores {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.bolinha {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
    cursor: pointer;
}

.bolinha.ativa {
    background: white;
}

/* animação */
@keyframes fade {
    from { opacity: 0.5; }
    to { opacity: 1; }
}

.topo-aulas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    width: 90%;
    margin: 0 auto 40px;
}

.texto-aulas{
    flex: 1;
}

.texto-aulas h1{
    margin: 0;
    color: white;
    font-size: 50px;
}

.texto-aulas h1 strong{
    color: #2450fd;
}

.texto-aulas h4{
    margin-top: 20px;
    color: white;
    font-weight: normal;
}
